web/WEB-INF/wsdl/localhost_8080/SA_RENAP/RENAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="RENAP">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/SA_RENAP/RENAP?xsd=1"/>
</xsd:schema>
</types>
<message name="ObtenerCertificadoNacimiento">
<part name="parameters" element="tns:ObtenerCertificadoNacimiento"/>
</message>
<message name="ObtenerCertificadoNacimientoResponse">
<part name="parameters" element="tns:ObtenerCertificadoNacimientoResponse"/>
</message>
<message name="EmisionDPI">
<part name="parameters" element="tns:EmisionDPI"/>
</message>
<message name="EmisionDPIResponse">
<part name="parameters" element="tns:EmisionDPIResponse"/>
</message>
<message name="ConsultaCiudadana">
<part name="parameters" element="tns:ConsultaCiudadana"/>
</message>
<message name="ConsultaCiudadanaResponse">
<part name="parameters" element="tns:ConsultaCiudadanaResponse"/>
</message>
<message name="InscribirMatrimonio">
<part name="parameters" element="tns:InscribirMatrimonio"/>
</message>
<message name="InscribirMatrimonioResponse">
<part name="parameters" element="tns:InscribirMatrimonioResponse"/>
</message>
<message name="ObtenerCertificadoMatrimonio">
<part name="parameters" element="tns:ObtenerCertificadoMatrimonio"/>
</message>
<message name="ObtenerCertificadoMatrimonioResponse">
<part name="parameters" element="tns:ObtenerCertificadoMatrimonioResponse"/>
</message>
<message name="Divorciar">
<part name="parameters" element="tns:Divorciar"/>
</message>
<message name="DivorciarResponse">
<part name="parameters" element="tns:DivorciarResponse"/>
</message>
<message name="Inscribirciudadano">
<part name="parameters" element="tns:Inscribirciudadano"/>
</message>
<message name="InscribirciudadanoResponse">
<part name="parameters" element="tns:InscribirciudadanoResponse"/>
</message>
<message name="ReconocerHijo1">
<part name="parameters" element="tns:ReconocerHijo1"/>
</message>
<message name="ReconocerHijo1Response">
<part name="parameters" element="tns:ReconocerHijo1Response"/>
</message>
<message name="ReconocerHijo2">
<part name="parameters" element="tns:ReconocerHijo2"/>
</message>
<message name="ReconocerHijo2Response">
<part name="parameters" element="tns:ReconocerHijo2Response"/>
</message>
<message name="DeclararBancarrota">
<part name="parameters" element="tns:DeclararBancarrota"/>
</message>
<message name="DeclararBancarrotaResponse">
<part name="parameters" element="tns:DeclararBancarrotaResponse"/>
</message>
<message name="RehabilitarBancarrota">
<part name="parameters" element="tns:RehabilitarBancarrota"/>
</message>
<message name="RehabilitarBancarrotaResponse">
<part name="parameters" element="tns:RehabilitarBancarrotaResponse"/>
</message>
<message name="NotificarDefuncion">
<part name="parameters" element="tns:NotificarDefuncion"/>
</message>
<message name="NotificarDefuncionResponse">
<part name="parameters" element="tns:NotificarDefuncionResponse"/>
</message>
<message name="ConsultarTarifario">
<part name="parameters" element="tns:ConsultarTarifario"/>
</message>
<message name="ConsultarTarifarioResponse">
<part name="parameters" element="tns:ConsultarTarifarioResponse"/>
</message>
<portType name="RENAP">
<operation name="ObtenerCertificadoNacimiento">
<input wsam:Action="http://Servicios/RENAP/ObtenerCertificadoNacimientoRequest" message="tns:ObtenerCertificadoNacimiento"/>
<output wsam:Action="http://Servicios/RENAP/ObtenerCertificadoNacimientoResponse" message="tns:ObtenerCertificadoNacimientoResponse"/>
</operation>
<operation name="EmisionDPI">
<input wsam:Action="http://Servicios/RENAP/EmisionDPIRequest" message="tns:EmisionDPI"/>
<output wsam:Action="http://Servicios/RENAP/EmisionDPIResponse" message="tns:EmisionDPIResponse"/>
</operation>
<operation name="ConsultaCiudadana">
<input wsam:Action="http://Servicios/RENAP/ConsultaCiudadanaRequest" message="tns:ConsultaCiudadana"/>
<output wsam:Action="http://Servicios/RENAP/ConsultaCiudadanaResponse" message="tns:ConsultaCiudadanaResponse"/>
</operation>
<operation name="InscribirMatrimonio">
<input wsam:Action="http://Servicios/RENAP/InscribirMatrimonioRequest" message="tns:InscribirMatrimonio"/>
<output wsam:Action="http://Servicios/RENAP/InscribirMatrimonioResponse" message="tns:InscribirMatrimonioResponse"/>
</operation>
<operation name="ObtenerCertificadoMatrimonio">
<input wsam:Action="http://Servicios/RENAP/ObtenerCertificadoMatrimonioRequest" message="tns:ObtenerCertificadoMatrimonio"/>
<output wsam:Action="http://Servicios/RENAP/ObtenerCertificadoMatrimonioResponse" message="tns:ObtenerCertificadoMatrimonioResponse"/>
</operation>
<operation name="Divorciar">
<input wsam:Action="http://Servicios/RENAP/DivorciarRequest" message="tns:Divorciar"/>
<output wsam:Action="http://Servicios/RENAP/DivorciarResponse" message="tns:DivorciarResponse"/>
</operation>
<operation name="Inscribirciudadano">
<input wsam:Action="http://Servicios/RENAP/InscribirciudadanoRequest" message="tns:Inscribirciudadano"/>
<output wsam:Action="http://Servicios/RENAP/InscribirciudadanoResponse" message="tns:InscribirciudadanoResponse"/>
</operation>
<operation name="ReconocerHijo1">
<input wsam:Action="http://Servicios/RENAP/ReconocerHijo1Request" message="tns:ReconocerHijo1"/>
<output wsam:Action="http://Servicios/RENAP/ReconocerHijo1Response" message="tns:ReconocerHijo1Response"/>
</operation>
<operation name="ReconocerHijo2">
<input wsam:Action="http://Servicios/RENAP/ReconocerHijo2Request" message="tns:ReconocerHijo2"/>
<output wsam:Action="http://Servicios/RENAP/ReconocerHijo2Response" message="tns:ReconocerHijo2Response"/>
</operation>
<operation name="DeclararBancarrota">
<input wsam:Action="http://Servicios/RENAP/DeclararBancarrotaRequest" message="tns:DeclararBancarrota"/>
<output wsam:Action="http://Servicios/RENAP/DeclararBancarrotaResponse" message="tns:DeclararBancarrotaResponse"/>
</operation>
<operation name="RehabilitarBancarrota">
<input wsam:Action="http://Servicios/RENAP/RehabilitarBancarrotaRequest" message="tns:RehabilitarBancarrota"/>
<output wsam:Action="http://Servicios/RENAP/RehabilitarBancarrotaResponse" message="tns:RehabilitarBancarrotaResponse"/>
</operation>
<operation name="NotificarDefuncion">
<input wsam:Action="http://Servicios/RENAP/NotificarDefuncionRequest" message="tns:NotificarDefuncion"/>
<output wsam:Action="http://Servicios/RENAP/NotificarDefuncionResponse" message="tns:NotificarDefuncionResponse"/>
</operation>
<operation name="ConsultarTarifario">
<input wsam:Action="http://Servicios/RENAP/ConsultarTarifarioRequest" message="tns:ConsultarTarifario"/>
<output wsam:Action="http://Servicios/RENAP/ConsultarTarifarioResponse" message="tns:ConsultarTarifarioResponse"/>
</operation>
</portType>
<binding name="RENAPPortBinding" type="tns:RENAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ObtenerCertificadoNacimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmisionDPI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaCiudadana">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InscribirMatrimonio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerCertificadoMatrimonio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Divorciar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Inscribirciudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReconocerHijo1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReconocerHijo2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeclararBancarrota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RehabilitarBancarrota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NotificarDefuncion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarTarifario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RENAP">
<port name="RENAPPort" binding="tns:RENAPPortBinding">
<soap:address location="http://localhost:8080/SA_RENAP/RENAP"/>
</port>
</service>
</definitions>